__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.egg-info/
.Python
env/
venv/
.venv/
ENV/
.env
instance/
build/
dist/
*.log
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
*.swp
.DS_Store
*.egg
staticfiles/