<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FLIPLAB</title>
  <!-- Adjust path if needed -->
  <link rel="stylesheet" href="../static/css/enterface.css" />
</head>
<body>
  <div>
    <header class="center_linked_img">
      <h1 class="header">FLIPLAB</h1>
      <a href="/4x" class="link" style="background: none;">
        <img
          alt="Ball bounce"
          src="../static/images/4x.jpg"
          loading="lazy"
          class="linked_img"
          style="opacity: 1;"
        />
      </a>
      <a href="/simulation" class="link" style="background: none;">
        <img
          alt="AI"
          src="../static/images/bh.jpg"
          loading="lazy"
          class="linked_img"
          style="opacity: 1;"
        />
      </a>
      <a href="/404" class="link" style="background: none;">
        <img
          alt="Funds"
          src="../static/images/404E.jpg"
          loading="lazy"
          class="linked_img"
          style="opacity: 1;"
        />
      </a>
    </header>

    <footer class="footer">
      <div>
        @made by Atlas 
        <a
          href="https://x.com/atlas22235"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            alt="Twitter"
            src="../static/images/Xl.png"
            loading="lazy"
            class="icon"
            style="opacity: 1;"
          />
        </a>
        
      </div>
    </footer>
  </div>
</body>
</html>
